@font-face {
    font-family: SpecialElite;
    src: url(../fonts/SpecialElite.ttf);
}

:root {
    --bs-link-color: #b8b8b8;
}


h1{  
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem; 
    line-height: 1.5;
    font-weight: 900;
}

h2{ 
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    color:#333333;
}

h3{
    font-family:  'Chivo', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5; 
    color:#333333;}


h4{ 
        font-family: 'Chivo', sans-serif;
        font-weight: 900;
        font-size: 1.3rem;
        line-height: 1.5;
        color:#333333;
}

body{
    font-family: 'Chivo', sans-serif;
    color:#333333;
}


.container-fluid{
    padding: 2% 22%; /*top bottom 7%, left right 15%*/

}



/*---Navigation Bar---*/
.navbar{
    padding-bottom:3rem;
}


.navbar-light .navbar-nav .nav-link .navbar-brand{
    padding: 0 18px;
    font-size:1.2rem;
    font-weight: 400;
    color: black;
}


/*---Letter---*/
.letter-typography{
    font-family: "SpecialElite";
    line-height: 3rem;
    font-size: 1.5rem;
    color: #535353;
 
}

/*---work tiles----*/
.card{
    height:auto;
    border-color:black;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body{
    padding: 6% 9% 0% 9%; /*top bottom 7%, left right 15%*/ 
}

.card-title{
    font-size:2rem;
    font-weight: bold;
}


.badge{
    border-style: solid;
    border-color: black;
    color: black;
    background: rgba(255,255,255,0.2);
    font-weight: 500;
    font-size: 0.6rem;
    padding: 0%, 2%, 0%, 2%;;
}

#img-stretchedTopPadding{
    padding-top: 3.5rem;
}

.card-img{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom:0rem; 
    padding-top: 2rem;
}

.card-img-bottom{
    max-width: 100%;
    height: auto;
}

.cohesity{
    background-color: #9FCB9D;
}

.researchAndTesting{
    background-color: #FFE665;
 }

 .individualProjects{
    background-color: #F99A6E;
 
 }

 .dataVisualization{
    background-color: #B7BEB0;
 }


/* --footer-- */
#footer{
    text-align: center;
    background-color: #fff;
}

.social-logo{
    width:4%;
    margin-bottom:24px;
    border-radius:10px;
    border-color: black;

}

.copyright-text{
    color:#8f8f8f;
}

.footer-sizing-adjuster{
    padding: 2% 0%;
}

.footer-btn{
        background-color: white;
        border: solid;
        color: black;
        padding: 6px 12px;
        font-size: 24px;
        cursor: pointer;
        border-radius:50%;
        border-color:black;

    
      
      /* Darker background on mouse-over */

}
.footer-btn:hover {
    background-color: black;
    border-color: black;
    border:solid;
    color:white;
  }




/*=============Work Pages============*/

/*----Work Page Common CSS----*/
.pageHeader-title{
    color: white;
    height: 27.5rem; 
}

.pageHeader-container{
    padding: 8rem 0rem;
}

.sectionImage{
    height:7rem;
    width:7rem;
  }

.dv-title{
    background-color: #B7BEB0;
  }


.page-break-text{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-top:2.2rem;
    margin-bottom:2rem;
}


.page-p{
    color: #333333;
    font-size: 18px;
    line-height:2rem;
}

.page-h2{
    color:#333333;
    margin-bottom: 2rem;
}

.page-p-title{
    color: #333333;
    font-weight: 900;
    font-size: 18px;
    line-height:2rem; 
    margin-bottom: 2rem;
    margin-top:2rem;
}

.page-section-title{
    font-family: 'Chivo', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.solid{
    margin-top:3rem;    
}

.padding-bottom-0{
    padding-bottom:0rem;
}

.padding-top-small{
    padding-top:0.5rem;
}

.padding-top-medium{
    padding-top:3rem;
}

.margin-bottom-paragraph{
    margin-bottom:2rem;
}

.margin-bottom-paragraph-5{
    margin-bottom:5rem;
}


.page-footer-styling{
    font-size: 22px;
    font-weight: 500;
}

a.page-footer-styling:link{
    text-decoration: none;
}


a.page-footer-styling:hover{
    text-decoration: none;
    color:#333333;
}

.page-footer-interval-sizing{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.markGreen{
    background-color: #9FCB9D;
    color: black;
    border-radius: 0.5rem;
  }

.markYellow{
    background-color: #FFE665;
    color: black;
    border-radius: 0.5rem;
}




/* -- #6 Project Delayed Flight-- */

a.link-delayedFlight:link{
    color:rgba(255,126,103,1);
    text-decoration: none;
}

a.link-delayedFlight:hover{
    text-decoration: underline;
    color:rgba(255,126,103,1);
}


/* -- #5 Keto Meal-- */
.ketoMeal-title{
    background-color: #F6875A;
  }


.container-fluid-ketoMeal{
    padding: 2% 6% 0% 0%; /*top bottom 7%, left right 15%*/
}

.card-img-bottom-ketoMeal{
    max-width: 100%;
    height: auto;
    padding-bottom:4%;
}

.img-middle-ketoMeal{
    height:40%;
    width:40%;
}


/* -- #4 Usability-- */
.usability-title{
    background-color: #FFE665;
  }




